@page
@model MeetingPlanner2020.Pages.Meetings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.dateOf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.dateOf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.timeOf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.timeOf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Conducting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Conducting.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.PrayerOpening)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.PrayerOpening.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.PrayerClosing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.PrayerClosing.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Meeting.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
